@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="border: 2px solid red; display: inline-block; padding: 10px; border-radius: 8px;">
        <h1 class="display-4"><strong>  Bill's PC  </strong></h1>
    </div>
    <h2 id="welcome"></h2>
    <p class="text-muted">Other games and projects by <a href="https://github.com/brettmariani923">Brett Mariani</a>.</p>
    <img src="https://archives.bulbagarden.net/media/upload/thumb/6/61/Red_on_computer.png/220px-Red_on_computer.png" class="mx-auto d-block" alt="Red using a computer" />
</div>






