@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bill's PC</h1>
    <h2 id="welcome"></h2>
    <p>Other projects and games by <a href="https://github.com/brettmariani923">Brett Mariani</a>.</p>
    <img src="https://archives.bulbagarden.net/media/upload/thumb/6/61/Red_on_computer.png/220px-Red_on_computer.png" class="mx-auto d-block" alt="Red using a computer" />
</div>






